@import "./normalize";
@import "./variables";
@import "./grid";
@import "./colors";
@import "./type";
@import "./elements";
@import "./space";
@import "./flex";
@import "./responsive";

.hidden {
  display: none;
}

.page.about > div:first-child {
  padding-top: 20px;
}

.page.contact > div:first-child {
  padding-top: $header-height;
}
