@import "./normalize";
@import "./variables";
@import "./grid";
@import "./colors";
@import "./type";
@import "./elements";
@import "./space";
@import "./flex";
@import "./responsive";

.hidden {
  display: none;
}

.page.about > div:first-child {
  padding-top: 20px;
}

.page.solution > div:first-child,
.page.mission > div:first-child,
.page.home > div:first-child,
.page.about > div:first-child {
  @media only screen and (min-width: $breakpoint-desk) {
    padding-top: 30px;
  }
}
